@charset "UFT-8";

@font-face {
    font-family: 'fonthp';
    src: url('../livro/fonts/HARRYP__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #5f5f5f;
}
header{
    font-family: 'fonthp';
    padding: 0;
    background-color: black;
    color: white;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

header > h1{
    text-align: center;
    font-family: 'fonthp';
    font-size: 40px;
}

nav{
    background-color: black;
    padding: 15px;
    margin: 0;
}

nav > a{
    color: white;
    text-decoration: none;
    padding: 15px;
    margin: 0;
    font-size: 35px;
}
main{
    background-color: #5f5f5f;
    margin: auto;
    min-width: 300px;
    max-width: 98%;
    margin-top: 180px;
    
}

h1{
    color: white;
}

p{
    color: black;
    text-align: justify;
    width: 85%;
}
h2{
    font-family: 'fonthp';
    font-size: 35px;
}
h3{
    font-family: 'fonthp';
    font-size: 30px;
}
a:hover{
    background-color: silver;
    color: black;
    border-radius: 5px;
    transition: 0.4s;
}

.livro{
    display: flex;
    background-color: rgb(255, 255, 255);
    margin: auto;
    padding: 10px;
    margin-top: 20px;
}

.sobre_livro{
    padding-left: 20px;
    padding-right: 20px;
}
::-webkit-scrollbar-track {
    background-color: #535353;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #222222;
}
.comprar{
    margin-right: 30px;
}
.botao{
    transform: scale(1.4);
    transition:  0.3s;
    all: unset; 
    cursor: pointer;
}

.botao:hover{
    transform: scale(0.9);
    transition: 0.3s;
    
}

@media(max-width: 700px){
    .livro{
        flex-direction: column;
    }
    img{
        width: 300px;
    }
    nav > a{
        padding: 15px;
    }
}
