@charset "UTF-8";

@font-face {
    font-family: 'fonthp';
    src: url('fonts/HARRYP__.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    background-image: url(imagens/R.jpg);
    background-size: cover;
    background-repeat: no-repeat;

}

h1 {
    font-family: 'fonthp';
    font-weight: normal;
    font-style: normal;
    font-size: 70px;
}

.botaoHPfilmes {
    height: 160px;
    width: 160px;
    margin-left: 50px;
    margin-top: 200px;


}

.botaoHPlivros {
    margin-top: 80px;
    height: 160px;
    margin-top: 130px;
    margin-left: 20px;
    
}

.botaoHPjogos {
    height: 200px;
    margin-top: 150px;
    margin-left: 20px;
}

.indentificador {
   margin-top: -210px;
    margin-left: 40px;
    font-size: 40px;
    font-family: 'fonthp';
    color: rgb(255, 255, 255);
    
}

.indentificadorlivros {
    font-family: 'fonthp';
    margin-left: 50px;
    font-size: 40px;
    margin-top: -200px;
    color: white;
}

.indentificadorjogos {
    font-family: 'fonthp';
    margin-left: 50px;
    margin-top: -110px;
    font-size: 40px;
    color: white;

}

.botaoHPfilmes:hover {
    transform: scale(1.2);
    transition: all 0.1s;
    cursor: pointer;
    border-radius: 200px;
}

.botaoHPlivros:hover {
    transform: scale(1.2);
    transition: all 0.1s;
    cursor: pointer;
    border-radius: 200px;
}
.botaoHPjogos:hover {
    transform: scale(1.2);
    transition: all 0.1s;
    cursor: pointer;
    border-radius: 200px;
}

.sagas {
    display: flex;

}
.frase{

    margin-top: 100px;
    margin-left: 500px;
    width: 190px;
    color: white;
    text-align: center;
}
.part1{
    font-size: 20px;
}
.autordafrase{
    margin-top: -10px;
    margin-left:80px;
    font-size: 14px;
}