@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face {
    font-family: 'Thewitcher', 'die nasty', 'fontgow';
    src: url('die nasty.otf') format('opentype'), url('Thewitcher-jnOj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

header{
    background-color: black;
    padding: 5px;
}
header > h1{
    color: white;
    font-size: 50px;
    font-family: 'Audiowide', cursive;
    text-align: center;
}
.sagas{
    max-width: 90%;
    min-width: 300px;
    margin: auto;
}
h1{
    color: white;
    font-family: 'Audiowide', cursive;
}

body {
    
    background-color: rgb(43, 43, 43);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}
nav > p{
   margin-right: 100%;
}
.trilho{
    width: 81px;
    height: 30px;
    background-color: #535353;
    border-radius: 150px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
}
.trilho > .indicador{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    transform: scale(.9);
    background-color: #000000;
    position: absolute;
    left: 0;
    transition: 0.2s;
}
.trilho.dark{
    background-color: rgb(90, 90, 90);
}
.trilho.dark .indicador{
    left: 50px;
    background-color: white;
}
body.dark{
    background-color: rgb(197, 193, 193);
}
body.dark h1{
    color: rgb(0, 0, 0);
}
body.dark header > #title{
    color: rgb(255, 255, 255);
}
body.dark header{
    background-color: #363636;
}
.sagas_aventura{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 257px;
}
.sagas_jogos{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 257px;
}
.botao_saga{
    all: unset;
    margin-left: 20px;
}
.em_breve{
    all: unset;
    margin-left: 20px;
    cursor: pointer;
}
.botao_saga:hover{
    transform: scale(1.1);
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
}
::-webkit-scrollbar-track {
    background-color: #535353;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #1f1f1f;
}

#comentario {
    position:relative; 
    font-family: 'Audiowide', cursive;;
    margin-left: 10px;
    padding:2px;
    line-height:20px;
    background:#000000;
    color:#fff;
    display: block;
    width:120px;
    opacity: 0;
}

.foto:hover #comentario{
    opacity: 1;
}

p {
    font-size: 20px;
    color: white;
    font-family: 'Audiowide', cursive;
    text-align: center;
}
