@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

@font-face {
    font-family: 'Thewitcher', 'die nasty', 'fontgow';
    src: url('die nasty.otf') format('opentype'), url('Thewitcher-jnOj.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    background-color: black;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    margin-top: 60px;
}
.slider-content input, .img-mobile{
    display: none;
 }
 .slide-box{
     width: 25%;
     height: auto;
     text-align: center;
     transition: 1s;
 }
 .slide-box img{
     width: 100%;
 }
 .nav-manual, .nav-auto{
     position: absolute;
     width: 100%;
     margin-top: 39%;
     display: flex;
     justify-content: center;
 }
 .nav-manual .manual-btn, .nav-auto div{
     border: 1px solid rgb(255, 255, 255);
     padding: 10px;
     border-radius: 50%;
     cursor: pointer;
     transition: 0.2s;
 }
 .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
     margin-right: 10px;
 }
 .nav-manual .manual-btn:hover{
     background-color: rgb(255, 255, 255);
 }
 #radio1:checked ~ .nav-auto .auto-btn1{
     background-color: rgb(255, 255, 255);
 }
 #radio2:checked ~ .nav-auto .auto-btn2{
     background-color: rgb(255, 255, 255);
 }
 #radio3:checked ~ .nav-auto .auto-btn3{
     background-color: rgb(255, 255, 255);
 }
 #radio4:checked ~ .nav-auto .auto-btn4{
     background-color: rgb(255, 255, 255);
 }
 #radio1:checked ~ .primeiro{
     margin-left: 0%;
 }
 #radio2:checked ~ .primeiro{
     margin-left: -25%;
 }
 #radio3:checked ~ .primeiro{
     margin-left: -50%;
 }
 #radio4:checked ~ .primeiro{
     margin-left: -75%;
 }

.sagas{
    max-width: 90%;
    min-width: 300px;
    margin: auto;
    margin-top: 45px;
}
h1{
    color: white;
    font-family: 'Audiowide', cursive;
}
header > h1{
    text-align: center;
}

nav > a{
    text-decoration: none;
    color: white;
}
nav{
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    margin-left: auto;
}
body {
    
    background-color: #00050D;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: auto;
}
.sagas_aventura{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 315px;
}
.sagas_jogos{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: 315px;
}
.botao_saga{
    all: unset;
    margin-left: 20px;
}
.em_breve{
    all: unset;
    margin-left: 20px;
    cursor: pointer;
}
.botao_saga:hover{
    transform: scale(1.1);
    transition: all 0.2s;
    cursor: pointer;
    margin-top: 10px;
}
::-webkit-scrollbar-track {
    background-color: #1d1d1d;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #ffffff;
}
#comentario {
    position:relative; 
    font-family: 'Audiowide', cursive;;
    margin-left: 10px;
    padding:2px;
    line-height:20px;
    background:#000000;
    color:#fff;
    display: block;
    width:120px;
    opacity: 0;
}

.foto:hover #comentario{
    opacity: 1;
}

p {
    font-size: 20px;
    color: white;
    font-family: 'Audiowide', cursive;
    text-align: center;
}
footer{
    background-color: rgb(255, 255, 255);
    height: 200px;
}
img{
    margin-top: 50px;
}
