@charset "UTF-8";

@font-face {
    font-family: 'fontgow';
    src: url('fonts/Berserker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #0e1b25;
}
header{
    background-color: #5174ad;
    padding: 0px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(imagens/plano\ de\ fundo\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
header > h1{
    text-align: center;
}
nav{
    padding: 20px;
    margin: 0;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 20px;
    font-size: 20px;
    font-family: 'fontgow';
}
nav > a:hover{
    background-color: silver;
    color: black;
    border-radius: 5px;
    transition: all 0.4s;
}
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    margin-top: 155px;
    
}
.slider-content input, .img-mobile{
   display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: rgb(255, 255, 255);
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: rgb(255, 255, 255);
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
   
}
#title{
    margin: auto;
    width: 210px;
}
main, #main_personagens{
    margin: auto;
    margin-top: 151px;
    width: 95%;
    
}
.texto{
    /*background-image: linear-gradient(to bottom,#363636, rgb(39, 39, 39), rgb(29, 29, 29), rgb(26, 25, 25), rgb(14, 14, 14));*/
    background-image: url(imagens/plano\ de\ fundo\ introdução-cinza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#introducao{
    width: 100%;
    margin: auto;
    color: white;
    margin-top: -29px;
    font-size: 20px;
}
#introducao > h1{
    font-family: 'fontgow';
    color: #87b1f5;
}
#plataformas{
    display: flex;
    margin-top: -20px;
    
    margin-left: 126px;
}

#logo_ps4{
    margin-left: 35px;
}
#info_game > h1{
    color: #87b1f5;
    font-family: 'fontgow';
}
#info_game{
    background-color: black;
    margin-top: -22px;
    background-image: url(imagens/barra\ playstation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
#trailer{
    background-color: black;
}
#trailer > h1{
    font-family: 'fontgow';
    color: #87b1f5;
}
.quadro{
    width: 100%;
    margin-top: -5px;
    display: flex;
    margin: 0;
}
.txt{
    width: 700px;
    margin-left: 20px;
    margin-top: auto;
}
.txt > p{
    color: white;
    font-size: 25px;
}
.txt > h2{
    color: #5174ad;
    font-family: 'fontgow';
    font-size: 30px;
}
#plus{
    background-color: black;
    background-image: url(imagens/plano\ de\ fundo\ plus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 20px;
    width: 98%;
}
@media(max-width: 950px){
    .quadro{
        display: block;
    }
    .txt{
        width: 98%;
        text-align: left;
        font-size: 16px;
    }
   .img > img{
        height: 315px;
   }
    nav > a{
        padding: 5px;
        border: #87b1f5 1px solid;
        padding: 0;
    }
    nav{
        padding: 16px;
        
    }
}
