@charset "UTF-8";

@font-face {
    font-family: 'fontgow';
    src: url('fonts/Berserker-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #0e1b25;
    overflow-x: hidden;
}
header{
    background-color: #0e1b25;
    padding: 0px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(imagens/plano\ de\ fundo\ header.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}
header > h1{
    text-align: center;
}
nav{
    padding: 15px;
    margin: 0;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 15px;
    font-size: 20px;
    font-family: 'fontgow';
    border-left: #87b1f5 1px solid;
    border-right: #87b1f5 1px solid;
    border-bottom: #87b1f5 3px solid;
}
@media(max-width: 490px){
    nav > a{
        padding: 5px;
        font-size: 17px;
    }
}
@media(max-width: 428px){
    nav > a{
        padding: 5px;
        font-size: 10px;
    }
}
nav > a:hover{
    background-color: silver;
    color: black;
    border-radius: 5px;
    transition: all 0.4s;
}
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    margin-top: 200px;
}
.slider-content input, .img-mobile{
   display: none;
}
.slide-box{
    width: 25%;
    height: auto;
    text-align: center;
    transition: 1s;
}
.slide-box img{
    width: 100%;
}
.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 35%;
    display: flex;
    justify-content: center;
}
.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid rgb(255, 255, 255);
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}
.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}
.nav-manual .manual-btn:hover{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .nav-auto .auto-btn1{
    background-color: rgb(255, 255, 255);
}
#radio2:checked ~ .nav-auto .auto-btn2{
    background-color: rgb(255, 255, 255);
}
#radio3:checked ~ .nav-auto .auto-btn3{
    background-color: rgb(255, 255, 255);
}
#radio1:checked ~ .primeiro{
    margin-left: 0%;
}
#radio2:checked ~ .primeiro{
    margin-left: -25%;
}
#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
   
}

.trechos{
    display: flex;
    width: 100%;
    margin: auto;
    margin-top: 80px;
}
#txt{
    font-family: 'fontgow';
    color: #87b1f5;
    text-align: center;
    margin-top: 45px;
}
.trecho01{
    margin: auto;
}
main{
    margin: auto;
    margin-top: 151px;
    min-width: 300px;
    max-width: 98%;
}
.texto{
    /*background-image: linear-gradient(to bottom,#363636, rgb(39, 39, 39), rgb(29, 29, 29), rgb(26, 25, 25), rgb(14, 14, 14));*/
    background-image: url(imagens/plano\ de\ fundo\ introdução-cinza.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#introducao{
    width: 100%;
    margin: auto;
    color: white;
    margin-top: -29px;
    font-size: 20px;
}
#introducao > h1{
    font-family: 'fontgow';
    color: #87b1f5;
}
#plataformas{
    display: flex;
    margin-top: -20px;
    
    margin-left: 126px;
}

#logo_ps4{
    margin-left: 35px;
}
#info_game > h1{
    color: #87b1f5;
    font-family: 'fontgow';
}
#info_game{
    background-color: black;
    margin-top: -22px;
    background-image: url(imagens/barra\ playstation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 30px;
}
#trailer{
    background-color: black;
}
#trailer > h1{
    font-family: 'fontgow';
    color: #87b1f5;
}
.quadro{
    width: 100%;
    margin-top: -5px;
    display: flex;
    margin: 0;
}
.txt{
    width: 700px;
    margin-left: 20px;
    margin-top: auto;
}
.txt > p{
    color: white;
    font-size: 25px;
}
.txt > h2{
    color: #5174ad;
    font-family: 'fontgow';
    font-size: 30px;
}
#plus{
    background-color: black;
    background-image: url(imagens/plano\ de\ fundo\ plus.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 50px;
    padding: 20px;
    width: 95%;
}

@media(max-width: 950px){
    /*body{
        overflow-x: hidden;
    }*/
    .quadro{
        display: block;
    }
    .txt{
        width: 95%;
        margin-left: -2px;
    }
    .txt > p{
        font-size: 16px;
    }
   .img > img{
        height: 240px;
   }
    nav > a{
        padding: 3px;
        border-left: #87b1f5 1px solid;
    }
    nav{
        padding: 3px;
        
    }
    #introducao{
        font-size: 16px;
    }
}
@media(max-width: 1348px){
    .trecho01 > img{
        height: 300px;
        width: 390px;
    }
}
@media(max-width: 1329px){
    .trecho01 > img{
        height: 250px;
        width: 300px;
    }
}
@media(max-width: 1030px){
    .trecho01 > img{
        height: 200px;
        width: 290px;
        margin-left: -40px;
    }
}
@media(max-width: 875px){
    .trecho01:not(:last-child){
        display: none;
    }
    .trecho01 > img{
        height: 310px;
        width: 340px;
    }
}
/*Parte de personagens*/
.sobre_personagens{
    display: flex;
}
.sobre_personagens:not(:first-child){
    margin-top: 35px;
}
.txt_persons{
    color: white;
    width: 98%;
    margin-left: 35px;
    font-size: 20px;
}
.txt_persons > h1{
    font-family: 'fontgow';
    color: #87b1f5;
}
#main_personagens{
    margin: auto;
    margin-top: 200px;
    width: 98%;
}
@media(max-width: 695px){
    .sobre_personagens{
        display: block;
    }
    .txt_persons{
        width: 95%;
        margin-left: 3px;
    }
   
}
h1{
    font-family: 'fontgow';
    color: #87b1f5;
}
#cosplay{
    display: flex;
}
@media(max-width: 920px){
    #img_guia > img{
        height: 280px;
        width: 390px;
    }
    #cosplay{
        display: block;
    }
    #txt_cosplay{
        width: 90%;
    }
}
#txt_cosplay{
    color: white;
    font-size: 20px;
    margin-left: 20px;
}
#txt_cosplay > h2{
    font-family: 'fontgow';
}
#btn{
    font-weight: bold;
    background-color: white;
    color: #000000;
    height: 40px;
    width: 50px;
    border-radius: 10px 50px 50px 10px;
    font-family: 'fontgow';
    cursor: pointer;
    border: 1px black solid;
}
#btn:hover{
    width: 165px;
    border-radius: 10px 50px 50px 10px;
    color: white;
    background-color: #5174ad;
    transform: scale(1.2);
    transition: 0.3s;
    border: 2px solid white;
    font-weight: normal;
}
/*Parte Guia de combate*/
#main_guia_combate{
    margin: auto;
    width: 98%;
    margin-top: 190px;
}
#armas_basicas{
    text-align: center;
}
#armas_basicas > p{
    color: white;
    font-size: 20px;    
}
.sobre_arma > h2{
    font-family: 'fontgow';
    text-align: center;
}
.sobre_arma{
    width: 400px;
    color: white;
    font-size: 20px;
}
#armas{
    display: flex;
}
#blade{
    margin-left: 120px;
}
#armas > div{
    margin: auto;
}
#machado, #blade{
    background-color: #5174ad;
    border-radius: 20px 0 20px 0;
}
#machado{
    border: 5px lightblue solid;
}
#blade{
    border: 5px rgba(255, 0, 0, 0.596) solid;
}
#ataques{
    margin-top: 60px;
}
#ataque_leve{
    display: flex;
}
.ataque{
    margin-left: 30px;
    color: white;
    font-size: 20px;
}
.ataque > h2{
    font-family: 'fontgow';
}
#ataque_distancia{
    display: flex;
    margin-top: 50px;
}
#ataque_unico{
    display: flex;
    margin-top: 50px;
}
@media(max-width: 984px){
    #armas{
        display: block;
    }
    #ataque_distancia{
        display: block;
    }
    #ataque_unico{
        display: block;
    }
    #ataque_leve{
        display: block;
    }
    .ataque{
        margin-left: 5px;
    }
    #blade{
        width: 80%;
        margin-top: -30px;
    }
    #machado{
        width: 80%;
    }
    .sobre_arma{
        width: 98%;
    }
    .video > video{
       height: 250px;
    }
}
@media(max-width: 465px){
    .video > video{
        height: 200px;
     }
}