@charset "UTF-8";

@font-face {
    font-family: 'fonttlou';
    src: url(font/ACCompacta/AC-Compacta.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    background-color: #000000;
    overflow-x: hidden;
}
header{
    background-color: rgb(0, 0, 0);
    top: 0;
    left: 0;
    right: 0;
    background-image: url(imagens_tlou/banner-p.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    max-width: 100%;
    min-width: 320px;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 5px;
    margin: 0;
    font-size: 25px;
}
nav > a:not(:first-child){
    margin-left: 20px;
}
nav > a:hover{
    background-color: /*#684B45*/ #2D2D2B;
    transition: 0.4s;
}
nav{
    font-family: 'fonttlou';
    text-align: center;
    background-color: #684B45;
    margin-top: -3px;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    /*background-image: url(imagens_tlou/banner-nav.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;*/
    padding: 5px;
    max-width: 100%;
    min-width: 320px;
}
.main_tlou{
    width: 100%;
    background-color: #000000;
}
section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    background-color: black;
}
.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    margin-top: 60px;
}
.slider-content input, .img-mobile{
    display: none;
 }
 .slide-box{
     width: 25%;
     height: auto;
     text-align: center;
     transition: 1s;
 }
 .slide-box img{
     width: 100%;
 }
 .nav-manual, .nav-auto{
     position: absolute;
     width: 100%;
     margin-top: 35%;
     display: flex;
     justify-content: center;
 }
 .nav-manual .manual-btn, .nav-auto div{
     border: 1px solid rgb(255, 255, 255);
     padding: 10px;
     border-radius: 50%;
     cursor: pointer;
     transition: 0.2s;
 }
 .nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
     margin-right: 10px;
 }
 .nav-manual .manual-btn:hover{
     background-color: rgb(255, 255, 255);
 }
 #radio1:checked ~ .nav-auto .auto-btn1{
     background-color: rgb(255, 255, 255);
 }
 #radio2:checked ~ .nav-auto .auto-btn2{
     background-color: rgb(255, 255, 255);
 }
 #radio3:checked ~ .nav-auto .auto-btn3{
     background-color: rgb(255, 255, 255);
 }
 #radio1:checked ~ .primeiro{
     margin-left: 0%;
 }
 #radio2:checked ~ .primeiro{
     margin-left: -25%;
 }
 #radio3:checked ~ .primeiro{
     margin-left: -50%;
 }
 @media screen and (max-width: 900px){
    .img-desktop{
        display: none;
    }
    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}
/*Parte introdução tlou*/

#introdução_tlou{
    margin-top: 95px;
    color: rgb(255, 255, 255);
    background-image: url(imagens_tlou/fundo_introducao.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 20px;
    text-indent: 10px;
}
#introdução_tlou > h1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    background-color: silver;
}
#plataformas > h1{
    font-size: 35px;
    color: white;
}
#plataformas{
    background-image: url(imagens_tlou/barra\ playstation.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 100px;
}
#trailer h1{
    color: white;
}
#trailer{
    margin-top: 35px;
}
/*Parte plus*/
.main_tlou_plus{
    max-width: 98%;
    min-width: 300px;
    margin: auto;
}
#sinopse_tlou{
    background-color: rgb(0, 0, 0);
    border-radius: 10px;
    text-indent: 5px;
    color: white;
    font-size: 18px;
    border: 1px white solid;
    margin-top: 20px;
}
.elenco{
    color: white;
    overflow-y: hidden;
    overflow-x: 98%;
    width: 60%;
    height: 370px;
    
}
.elenco > h2{
    position: sticky;
    left: 0;
    font-family: 'fonttlou';
    font-size: 30px;
}
#triler{
    color: white;
}
.images{
    display: flex;
}
.image01:not(:first-child){
    margin-left: 20px;
}
.image01 > .person01{
    margin-left: 40px;
    font-family: 'fonttlou';
    font-size: 20px;
}
.image01 > .nome01{
    margin-left: 30px;
}
.part_elenco{
    background-image: url(imagens_tlou/the-last-of-us-serie.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-top: 35px;
    display: flex;
}

#plataforma{
    height: 200px;
    width: 129px;
    margin: auto;
}
.btn_plataforma > p{
    color: white;
    font-size: 18px;
}
.btn_plataforma{
    all: unset;
    margin: 0;
    margin-left: 50%;
    margin: auto;
}
.btn_plataforma:hover{
    transform: scale(1.2);
    transition: all 0.2s;
    cursor: pointer;
}
.btn_plataforma img:hover{
    border: 4px purple solid;
}
@media(max-width: 583px){
    .elenco{
        width: 98%;
    }
    .part_elenco{
        display: block;
        height: 565px;
    }
    #plataforma > p{
        font-size: 19px;
        text-align: center;
    }
    #plataforma{
        height: 200px;
        width: 129px;
        margin: auto;
    }
    .btn_plataforma:hover{
        transform: scale(0.9);
        transition: 0.3s;
    }
    .btn_plataforma{
        margin: 0;
        margin-left: 50%;
        margin: auto;
    }
}
