@charset "UTF-8";

@font-face {
    font-family: 'Thewitcher', 'die nasty';
    src: url('die nasty.otf') format('opentype'), url('Thewitcher-jnOj.ttf') format('truetype'), url('DIENASTY.ttf') format('truetype'), url('DIENASTY.eot') format('opentype'), url('DIENASTY.woff') format('truetype');
    font-weight: normal;
    font-style: normal;

}

body{
    background-color: #5f5f5f;
}
h2{
    font-family: 'Die Nasty', 'DieNasty-Regular';
}

header{
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Die Nasty', 'DieNasty-Regular';
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    
}
header > h1{
    text-align: center;
}

nav{
    background-color: black;
    padding: 20px;
    margin: 0;
}
nav > a{
    color: white;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    font-size: 25px;
}
main{
    background-color: #5f5f5f;
    margin: auto;
    min-width: 300px;
    max-width: 90%;
    margin-top: 180px;
}
h1{
    color: white;  
}

p{
    color: black;
    text-align: justify;
}

/*a{
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;

}*/

a:hover{
    background-color: silver;
    color: black;
    border-radius: 5px;
}
.livro{
    display: flex;
    background-color: #9e9e9e;
    margin: auto;
    padding: 10px;
    margin-top: 20px;  
    
}
.sobre_livro{
    padding-left: 20px;
    padding-right: 20px;
    
}
.infor{
    color: rgb(71, 71, 71);
}
::-webkit-scrollbar-track {
    background-color: #535353;
}
::-webkit-scrollbar {
    width: 6px;
    background: #ffffff;
}
::-webkit-scrollbar-thumb {
    background: #222222;
}
