body{
    background-color: #5f5f5f;
    color: white;
}
header{
    padding: 0;
    background-color: black;
    color: white;
    font-family: 'Die Nasty';
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
}
header > h1{
    text-align: center;
}

nav{
    background-color: rgb(0,0,0);
    padding: 20px;
    margin: 0;
}
nav > a{
    text-decoration: none;
    color: white;
    padding: 20px;
    margin: 0;
    font-size: 25px;
    border-bottom: 2px white solid;
    border-left: 1px white solid;
    border-right: 1px white solid;
}
nav > a:hover{
    background-color: silver;
    color: black;
    border-radius: 5px;
    transition: 0.4s;
}
.main_jogo{
    margin: auto;
    background-color: black;
    min-width: 300px;
    max-width: 98%;
    margin-top: 180px;
    
}
article > h1{
    font-family: 'Die Nasty';
    text-align: center;
    font-size: 30px;
    color: white;
}

#trailer > h1{
    text-align: center;
    font-family: 'Die Nasty';
}
#sinopse{
    color:rgb(0, 0, 0);
    border-radius: 10px;
    text-align: justify;   
    margin-right: 5px;
    font-size: 20px;
    background-color: #c5c4c4;
    margin-top: -34px;
    width: 100%;
}
.text{
    font-size: 20px;
    text-align: center;

}
button > h2{
    color: white;
    text-align: center;
    font-family: 'Die Nasty';
}
a{
    text-decoration: none;
}
#sobre_witcher{
    display: block;
    width: 98%;
    
}
.pagina_inicial{
    display: flex;
}
/*Bestiário*/
.besta{
    display: flex;
    margin: auto;
}
.informacao>p{
    font-size: 25px;
    
}
.informacao{
    margin-left: 50px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    width: 60%;
}
.img{
    border-right: 2px white solid;
}
#sobre_witcher{
    width: 60%;
}
.main_bestiario{
    margin: auto;
    background-color: black;
    width: 98%;
    margin-top: 120px;
}
/*Parte mundo*/
.mundo_info{
    display: flex;
    border-bottom: rgb(0, 0, 0) 20px solid;
}
.txt{
    color: white;
    margin-left: 30px;
    font-size: 20px;
    width: 60%;
    margin-top: -30px;
}
.txt > h1{
    font-family: 'Die Nasty';
}
.botao{
    cursor: pointer;
    font-family: 'Die Nasty';
    height: 50px;
    width: 26px;
    border-radius: 5px;
    margin-top: -25px;
    opacity: 0.9;
}
.botao:hover{
    width: 80px;
    border-radius: 5px 20px 20px 5px;
    transition: 0.4s;
    opacity: 1;
    color: rgb(0, 0, 0);
    background-color: white;
}
/*Parte bestiário*/
#body_bestiario{
    background-color: black;
}
.bestiario{
    display: flex;
    border-bottom: rgb(0, 0, 0) 20px solid;
}
.botao2{
    cursor: pointer;
    font-family: 'Die Nasty';
    height: 50px;
    width: 26px;
    border-radius: 5px;
    margin-top: -25px;
    opacity: 0.9;
}
.botao2:hover{
    width: 100px;
    border-radius: 5px 20px 20px 5px;
    transition: 0.4s;
    opacity: 1;
    color: rgb(0, 0, 0);
    background-color: white;
}
/*Parte personagens*/
.main_personagens{
    margin: auto;
    background-color: black;
    width: 98%;
    margin-top: 180px;
}
.info_persons{
    display: flex;
}
.botao3{
    cursor: pointer;
    font-family: 'Die Nasty';
    height: 50px;
    width: 26px;
    border-radius: 5px;
    margin-top: -25px;
    opacity: 0.9;
}
.botao3:hover{
    width: 120px;
    border-radius: 5px 20px 20px 5px;
    transition: 0.4s;
    opacity: 1;
    color: rgb(0, 0, 0);
    background-color: white;
}
.persons{
    display: flex;
}
.txt_persons{
    color: white;
    width: 90%;
    font-size: 25px;
    margin-top: -16px;
    margin-left: 30px;
}
.txt_persons > h1{
    font-family: 'Die Nasty';
}
@media(max-width: 1205px){
    .mundo_info{
        display: block;
        width: 100%;
    }
    .mundo > img{
        width: 100%;
    }
    .txt{
        width: 100%;
        margin-top: 30px;
        margin: 0;
    }
    .bestiario{
        display: block;
        width: 100%;
        margin-top: 45px;
    } 
    .bestiario > img{
        width: 100%;
    }
    .informacao > p{
        font-size: 16px;
    }
    .img{
        border-right: 2px rgb(0, 0, 0) solid;
    }
    .botao, .botao2, .botao3{
        width: 25px;
    }
    .info_persons{
        display: block;
    }
    .personagens > img{
        width: 100%;
    }
}
@media(max-width: 700px){
    nav > a{
        font-size: 16px;
        padding: 15px;
    }
    nav{
        padding: 15px;
    }
}
@media(max-width: 574px){
    .persons{
        display: block;
    }
    .info_geralt > img{
        margin-left: 40px;
    }
    .info_ciri > img{
        margin-left: 40px;
    }
    .info_yennefer > img{
        margin-left: 40px;
    }
    .info_vesemir > img{
        margin-left: 40px;
    }
    .info_triss > img{
        margin-left: 40px;
    }
    .txt_persons{
        font-size: 16px;
        text-align: center;
    }
}
@media(max-width: 682px){
    .besta{
        display: block;
    }
}
@media(max-width: 450px){
    nav > a{
        padding: 8px;
        font-size: 16px;
    }
}
@media(max-width:380px){
    nav > a{
        padding: 5px;
        font-size: 16px;
    }
}





